<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

<p><a href="/">Back to Groups</a></p>

<h1>{{groupname}}</h1>
<p>Group #{{gid}}</p>

<h2>Wishlists</h2>

{% if create_wishlist %}
<div>
	<a href="/group/{{gid}}/new_wishlist">Create New Wishlist</a>
</div>
{% endif %}

<div>
	{% for w in wishlists %} <!-- wid, uid, name -->
	<div><a href="/group/{{gid}}/wishlist/{{w[0]}}">{{w[2]}}</a></div>
	{% endfor %}
</div>

<h3>Members: </h3>
<div>
	{% for m in members %}
	<div>{{m[1]}}</div>
	{% endfor %}
</div>


</body>


</html>
