<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

<p><a href='/group/{{gid}}'>Back</a></p>
<h1>{{name}}'s Wishlist</h1>

<table>
<!-- show table --> 
	{% for row in table %}
	<tr>
		<td><b>{{row[0][1]}}</b></td>
		{% for comment in row %}
			{% if comment[3] %} <!-- if not the header --> 
				<td><i>{{comment[3]}}</i>: {{comment[2]}}</td>
			{% endif %}
		{% endfor %}
		<td>
			<form action='/group/{{gid}}/wishlist/{{wid}}/c/{{row[0][0]}}' method='POST'>
				<input type='text' name='comment' placeholder='add comment'>
				<input type='submit' value='Add'>
			</form>
		</td>
	</tr>
	{% endfor %}
</table>

</body>


</html>
