<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>

<p><a href='/group/{{gid}}'>Back</a></p>
<h1>My Wishlist</h1>

<table>
<!-- show table --> 
	{% for row in table %}
	<tr>
		<td><b>{{row[0][1]}}</b></td>
		<td>delete</td>
	</tr>
	{% endfor %}
	<tr>
		<td>
			<form action='/group/{{gid}}/wishlist/{{wid}}/i' method='POST'>
				<input type='text' name='item' placeholder='new item'>
				<input type='submit' value='Add'>
			</form>
		</td>
	</tr>
</table>

</body>


</html>
